@import "tailwindcss";

/* 편집 구간 */
.edit-area {
    /* 구간 설정 */
    & {
        @apply absolute left-0 top-0 right-0 bottom-0 z-50 overflow-hidden;
    }

    /* 효과 적용 */
    &::before {
        @apply content-[''] absolute left-0 top-0 right-0 bottom-0 -z-0;
        backdrop-filter: blur(1px);
        background: #0001;
        transition: all 0.3s ease-in-out;
    }

    /* 편집 뷰 */
    .edit-view {
        @apply
            absolute w-[800px] top-0 right-0 bottom-0 z-50 
            bg-white border-l-gray-300 border-l-[1px] shadow-2xl
        ;
        transition: transform 0.3s ease-in-out;
    }

    /* 닫기 처리 */
    &[class*=area-close] {
        & { @apply pointer-events-none; }

        &::before {
            backdrop-filter: blur(0px);
            background: transparent;
        }

        & .edit-view {
            @apply shadow-none;
            transform: translateX(100%);
        }
    }
}

/* 타이틀 */
.title-area {
    & {
        @apply flex justify-between items-center h-[50px] border-b border-b-gray-200 px-3;
    }
}

/* 탭 스타일 */
.tabs {
    /* 탭 전체 영역 (타이틀 높이 제외) */
    & { height: calc(100% - 50px); }
    /* 탭 컨텐츠 영역 */
    & > [class*=ant-tabs-content-holder] > div {
        & { @apply h-full; }
        & > div { @apply h-full; }
    }

    [class*=ant-tabs-extra-content] {
        @apply px-2;
    }
}