@import "tailwindcss";

.comm-layout {
    /* 기본 레이아웃 */
    & {
        @apply absolute left-0 top-0 right-0 bottom-0;
        --cl-top-h: 40px;           /* 공용 상단 높이 */
        --cl-bottom-h: 35px;        /* 공용 하단 높이 */
        --cl-side-w: 250px;         /* 공용 사이드 넓이 (react를 통해서 변동 있음) */
    }

    /* 기본 레이아웃 - 상단 */
    & > .cl-top {
        & {
            @apply
                absolute left-0 top-0 right-0 h-[var(--cl-top-h)] shadow-2xs
                flex justify-between items-center px-2 bg-[#343B4A];
        }

        & .user-info {
            & { @apply h-[40px] justify-start text-sm gap-3; }
            & > span {
                @apply min-w-[24px] min-h-[24px] flex gap-0.5 justify-center items-center rounded-full bg-white text-gray-900 font-bold px-2;
            }
        }
    }
    /* 기본 레이아웃 - 하단 */
    & > .cl-bottom {
        & {
            @apply
                absolute left-[var(--cl-side-w)] bottom-0 right-0 h-[var(--cl-bottom-h)] border-t-gray-200 border-t
                flex gap-1 justify-end items-center px-1.5
            ;
        }

        & .tab-item {
            & {
                @apply flex gap-1 justify-center items-center text-xs rounded-xl border border-gray-200 h-[22px] px-2 leading-none cursor-pointer hover:bg-blue-100;
            }

            &[class*=on-active] {
                @apply bg-blue-400 text-white border-blue-400;
            }
        }
    }
    /* 기본 레이아웃 - 사이드 */
    & > .cl-side {
        @apply absolute left-0 top-[var(--cl-top-h)] bottom-0 w-[var(--cl-side-w)] border-r-gray-200 border-r pt-3;
    }
    /* 기본 레이아웃 - 본문 */
    & > .cl-conts {
        @apply absolute left-[var(--cl-side-w)] top-[var(--cl-top-h)] bottom-[var(--cl-bottom-h)] right-0 overflow-y-auto;
    }
}